.container {
    font-size: 35px;
    padding-top: 25px;
}

.text {
    max-width: 87%;
    overflow: auto;
}

.activatedInput {
    width: 90%;
    font-size: 35px;
}

.circle {
    position: relative;
    float: right;
    margin-top: -46px;
    display: block;
    visibility: visible;
    width: 43px;
    height: 43px;
    border: 2px solid #ecf0f1;
    border-radius: 119px;
    cursor: pointer;
    background: #efefef;
}

.line {
    border: none;
    background-color: #ecf0f1;
    width: 100%;
    height: 2px;
}
